{% extends "base.html" %} {% block content %}
<h3>Data Storage Sytem</h3>
<p>
	The storage system will involve acquiring streaming data from the sensors,
	encrypting them in batches and storing them in the Google Cloud.
</p>
<form action="/generate-sym-key" method="post">
	<input
		type="submit"
		class="btn btn-block"
		value="Generate New Symmetric Key"
	/>
</form>
<form action="/connect-to-gcp" method="post">
	<input
		type="submit"
		class="btn btn-block"
		value="Connect to GCP SQL instance"
	/>
</form>
<hr />
<h3>Data Sharing Sytem</h3>
<p>
	The sharing system should enable end-to-end encrypted peer-to-peer data
	transmission between two parties.
</p>
<hr />
<h3>Config</h3>
<form action="/set-batch-size" method="post">
	<label for="batch_size">Batch Size:</label>
	<input
		type="number"
		id="batch_size"
		name="batch_size"
		min="1"
		value="{{ batch_size }}"
	/>
	<input type="submit" class="btn" value="Set Batch Size" />
</form>
{% endblock %}
