<div id="sensor" class="sensor">
	<table>
		<tr class="first_row">
			<th class="first_col">Sensor Type</th>
			<th>Time</th>
			<th>Value</th>
			<th>Description</th>
		</tr>
		<tr>
			<th class="first_col">Humidity:</th>
			<td>{{ temp.time }}</td>
			<td>{{ temp.value }}</td>
			<td>{{ temp.desc }}</td>
		</tr>
		<tr>
			<th class="first_col">Temperature:</th>
			<td>{{ humi.time }}</td>
			<td>{{ humi.value }}</td>
			<td>{{ humi.desc }}</td>
		</tr>
		<tr>
			<th class="first_col">Pollution:</th>
			<td>{{ poll.time }}</td>
			<td>{{ poll.value }}</td>
			<td>{{ poll.desc }}</td>
		</tr>
	</table>
</div>
